@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg bg-luxury-500 text-white font-semibold hover:bg-luxury-600 transition duration-200;
  }
  
  .btn-secondary {
    @apply px-4 py-2 rounded-lg border border-gray-300 text-gray-700 font-semibold hover:bg-gray-50 transition duration-200;
  }
}
